<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
 	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:jsf="http://xmlns.jcp.org/jsf">
<h:head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <link rel="shortcut icon" href="assets/images/logo_very_small.png"></link>
    <title>Demo App</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"></meta>
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"></link>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="bootstrap/css/font-awesome.min.css"></link>
    <!-- Ionicons -->
    <link rel="stylesheet" href="bootstrap/css/ionicons.min.css"></link>
    <!-- DataTables -->
    <link rel="stylesheet" href="plugins/datatables/dataTables.bootstrap.css"></link>
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css"></link>
    <link rel="stylesheet" href="dist/css/skins/skin-blue.min.css"></link>
    
    <!-- jQuery 2.1.4 -->
    <script src="plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/app.min.js"></script>
    
	<!-- DataTables -->
    <script src="plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="plugins/datatables/dataTables.bootstrap.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="dist/js/demo.js"></script>
    
    <script type="text/javascript">
	jQuery(function($) {
		var menuId ="menu1";
		var id = "#{sessionScope.menuId}";
		menuId = id;
		if(menuId != '') {
			document.getElementById(menuId).className = "active";
		}
	});
</script>

<script>
      $(function () {
        $("#dataListDt").DataTable( {
	        "scrollX": true
	    } );
      });
    </script>
</h:head>
  
  <h:body styleClass="hold-transition skin-blue sidebar-mini">
  
    <div class="wrapper">
	<h:form styleClass="form-horizontal" role="form" prependId="false">
      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <a href="#" class="general ecs logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>E</b>m</span>
          <!-- logo for regular state and mobile devices -->
          <h:graphicImage url="assets/images/logo_normal1.png" width="89" height="39"></h:graphicImage>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
          
          	<ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
              <li class="dropdown messages-menu open">
                  <h:graphicImage url="assets/images/India_ecs_logo1.jpg" width="159" height="50"></h:graphicImage>
              </li>
            </ul>
          	
	        <!-- <a href="#" class="india ecs logo" style="height: 49px; width: 171px;"> -->
	          
	        <!-- </a> -->
          	
            <ul class="nav navbar-nav">
              <!-- User Account Menu -->
              <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <!-- The user image in the navbar-->
                  <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image"></img>
                  <!-- hidden-xs hides the username on small devices so only the image appears. -->
                  <span class="hidden-xs"> CGI DEMO </span> &nbsp;
                  <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                  <!-- The user image in the menu -->
                  <li class="user-header">
                    <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image"></img>
                    <p>
                      Thompson
                      <small>Administrator</small>
                    </p>
                  </li>
                  <!-- Menu Body -->
                  
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                    </div>
                    <div class="pull-right">
                      <h:commandLink styleClass="btn btn-default btn-flat"
							>
							<i class="fa fa-fw fa-power-off"></i> <!-- fa-dashboard -->
							<span class="menu-text"> Sign Out </span>
					  </h:commandLink>
                    </div>
                  </li>
                </ul>
              </li>
              <!-- Control Sidebar Toggle Button -->
              <!-- <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
              </li> -->
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <!-- Sidebar user panel (optional) -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image"></img>
            </div>
            <div class="pull-left info">
              <p>Paul</p>
              <!-- Status -->
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
          
          <!-- search form -->
          <div class="sidebar-form">
            <div class="input-group">
              <input disabled="disabled" type="text" name="q" class="form-control" placeholder="Admin"></input>
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-user"></i></button>
              </span>
            </div>
          </div>
          <!-- /.search form -->

          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <li class="header">HEADER</li>
            <!-- Optionally, you can add icons to the links -->
            <li id="menu1">
            	<!-- <i class="fa fa-link"></i> <span>Dashboard</span></a> -->
            	<h:commandLink
					action="#{stuMain.pageNavigationAction}">
					<i class="fa fa-fw fa-dashboard"></i> <!-- fa-dashboard -->
					<span class="menu-text"> Dashboard </span>
					<f:param name="pageName" value="GenWelcome.xhtml"></f:param>
					<f:param name="menu" value="menu1"></f:param>
				</h:commandLink>
            </li>
            <li id="menu2">
            	<!-- <i class="fa fa-link"></i> <span>View Courses</span></a> -->
            	<h:commandLink
					action="#{stuMain.pageNavigationAction}">
					<i class="fa fa-language"></i> <!-- fa-dashboard -->
					<span class="menu-text"> Inventory </span>
					<f:param name="pageName" value="AdnLanguages.xhtml"></f:param>
					<f:param name="menu" value="menu2"></f:param>
				</h:commandLink>	
            </li>
            <li class="header">LABELS</li>
            <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Manual PDF</span></a></li>
            <!-- <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Follow Us</span></a></li> -->
          </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>
</h:form>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
			<h:form id="addForm" styleClass="form-horizontal" role="form" prependId="false">
 <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Inventory
          </h1>
          <ol class="breadcrumb">
          <li>
            	<h:commandLink title="Dashboard"
					action="#{stuMain.pageNavigationAction}">
					<i class="fa fa-fw fa-dashboard"></i> <!-- fa-dashboard -->
					<span class="menu-text"> Home </span>
					<f:param name="pageName" value="GenWelcome.xhtml"></f:param>
					<f:param name="menu" value="menu1"></f:param>
				</h:commandLink>
            </li>
            <li>
            	<h:commandLink title="View List"
					action="#{adnLanguages.doBackButtonAction}">
					<span class="menu-text"> DevOps </span>
				</h:commandLink>
            </li>
            <li class="active"> <h:outputText value="#{adnLanguages.actionLabel}"></h:outputText></li>
		  </ol>
        </section>
        <!-- Main content -->
        <section class="content">
          <!-- SELECT2 EXAMPLE -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Languages 
				<small>
					- <h:outputText value="#{adnLanguages.actionLabel}"></h:outputText>
             	</small>
            </h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <!-- <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button> -->
              </div>
            </div><!-- /.box-header -->
            <div class="box-body">
            <div class="col-lg-12">
	   			<h:messages errorClass="alert alert-danger" infoClass="alert alert-info" warnClass="alert alert-warning" showDetail="false" showSummary="true"></h:messages>
	   		</div>
                <div class="col-md-12">
                    
                    <h:panelGroup rendered="#{adnLanguages.actionLabel == 'View'}">
		                <div class="form-group">
		                    <label class="col-sm-2 control-label">Language in English</label>
		                    <div class="col-sm-10">
		                    	<h:outputText value="#{adnLanguages.language_in_English}" styleClass="form-control"></h:outputText>
		                    </div>
		                </div>
		                <div class="form-group">
		                    <label class="col-sm-2 control-label">Asset Type</label>
		                    <div class="col-sm-10">
		                    	<h:outputText value="#{adnLanguages.language_in_Local}" styleClass="form-control"></h:outputText>
		                    </div>
		                </div>
		                
		                <div class="form-group">
		                	<div class="col-sm-offset-2 col-sm-10">
		                    	<h:commandLink styleClass="btn btn-primary" action="#{adnLanguages.doEditEnableAction}">
		                    		<i class="fa fa-plus-square"></i> &nbsp;
		                    		<h:outputText value=" Edit Language"></h:outputText>
		                    	</h:commandLink>
		                    	<f:verbatim> &nbsp; </f:verbatim>
						     	<h:commandLink styleClass="btn btn-primary" action="#{adnLanguages.doBackButtonAction}">
						     		<i class="fa fa-reply"></i>
		                    		<h:outputText value=" Back"></h:outputText>
						     	</h:commandLink>
		                    </div>
		                  </div>
			            
				     </h:panelGroup>
				     
                    <h:panelGroup rendered="#{adnLanguages.actionLabel == 'Add' or adnLanguages.actionLabel == 'Update'}">
		                <div class="form-group">
		                    <label class="col-sm-2 control-label">Language in English</label>
		                    <div class="col-sm-10">
		                    	<h:inputText id="inEnglish" pt:placeholder="Language in English" value="#{adnLanguages.language_in_English}" styleClass="form-control"></h:inputText>
		                    </div>
		                </div>
		                <div class="form-group">
		                    <label class="col-sm-2 control-label">Language in Local</label>
		                    <div class="col-sm-10">
		                    	<h:inputText id="inLocal" pt:placeholder="Language in Local" value="#{adnLanguages.language_in_Local}" styleClass="form-control"></h:inputText>
		                    </div>
		                </div>
		                
		                <h:panelGroup rendered="#{adnLanguages.actionLabel == 'Add'}">
			                <div class="form-group">
			                	<div class="col-sm-offset-2 col-sm-10">
			                    	<h:commandLink id="addButton" styleClass="btn btn-primary" action="#{adnLanguages.doAddButtonAction}">
			                    		<i class="fa fa-plus-square"></i> &nbsp;
			                    		<h:outputText value=" Add Language"></h:outputText>
			                    	</h:commandLink>
			                    	<f:verbatim> &nbsp; </f:verbatim>
							     	<h:commandLink id="backButton1" styleClass="btn btn-primary" action="#{adnLanguages.doBackButtonAction}">
							     		<i class="fa fa-reply"></i>
			                    		<h:outputText value=" Back"></h:outputText>
							     	</h:commandLink>
			                    </div>
			                  </div>
			            </h:panelGroup>
			            
			            <h:panelGroup rendered="#{adnLanguages.actionLabel == 'Update'}">
			            	<div class="form-group">
			            		<div class="col-sm-offset-2 col-sm-10">
						     		<h:commandLink id="updateButton" styleClass="btn btn-primary" action="#{adnLanguages.doUpdateButtonAction}">
						     			<i class="fa fa-edit"></i> 
			                    		<h:outputText value=" Update"></h:outputText>
							     	</h:commandLink>
							     	<f:verbatim> &nbsp; </f:verbatim>
							     	<h:commandLink id="deleteButton" styleClass="btn btn-primary" action="#{adnLanguages.doDeleteButtonAction}">
							     		<i class="fa fa-trash"></i>
			                    		<h:outputText value=" Delete"></h:outputText>
							     	</h:commandLink>
							     	<f:verbatim> &nbsp; </f:verbatim>
							     	<h:commandLink id="backButton" styleClass="btn btn-primary" action="#{adnLanguages.doBackButtonAction}">
							     		<i class="fa fa-reply"></i>
			                    		<h:outputText value=" Back"></h:outputText>
							     	</h:commandLink>
							     	<f:verbatim> &nbsp; </f:verbatim>
							     </div>
						     </div>
				     	</h:panelGroup>
				     </h:panelGroup>
				     
				     <h:panelGroup rendered="#{adnLanguages.actionLabel == 'View List'}">
				     
				     	<h:commandLink id="addLanguage" styleClass="btn btn-primary" action="#{adnLanguages.doAddEnableAction}">
	     					<i class="fa fa-plus-square"></i> &nbsp;
                    		<h:outputText value=" Add Language"></h:outputText>
                    	</h:commandLink>
			            <f:verbatim> &nbsp; </f:verbatim>
						<!-- <h:commandLink styleClass="btn btn-primary" action="#{adnLanguages.doSearchAction}">
							<i class="fa fa-search"></i>
                    		<h:outputText value=" Search All"></h:outputText>
                    	</h:commandLink>
						 -->
						<br></br>
						<br></br>
							     	
		                <div class="box">
			                <div class="box-header">
			                  <h3 class="box-title">Language List</h3>
			                </div><!-- /.box-header -->
			                <div class="box-body">
			                	<h:dataTable id="dataListDt" styleClass="table table-bordered table-striped"
									value="#{adnLanguages.dbLanguageList}"
									var="varList" 
									border="0" cellpadding="2"
									cellspacing="0" binding="#{adnLanguages.increVal}">
									<h:column>
										<f:facet name="header">
											<h:outputText styleClass="outputText" value="SL No"></h:outputText>
										</f:facet>
										<h:outputText styleClass="outputText" value="#{adnLanguages.increVal.rowIndex+1}"> </h:outputText>
									</h:column>
									<h:column>
										<f:facet name="header">
											<h:outputText styleClass="outputText" value="Languages in English"></h:outputText>
										</f:facet>
										<h:commandLink action="#{adnLanguages.rowEditAction}">
											<f:param value="#{varList.language_ID}" name="paramId"></f:param>
											<f:param value="#{varList.language_in_English}" name="language_in_English"></f:param>
					                    	<h:outputText value="#{varList.language_in_English}"></h:outputText>
									     </h:commandLink>
									</h:column>
									<h:column>
										<f:facet name="header">
											<h:outputText styleClass="outputText" value="Languages in Local"></h:outputText>
										</f:facet>
										<h:outputText styleClass="outputText" value="#{varList.language_in_Local}"></h:outputText>
									</h:column>
									<!-- <h:column>
										<f:facet name="header">
											<h:outputText styleClass="outputText" value="Edit"></h:outputText>
										</f:facet>
										<h:commandLink styleClass="btn btn-primary btn-xs" action="#{adnLanguages.rowEditAction}">
											<f:param value="#{varList.language_ID}" name="paramId"></f:param>
											<f:param value="#{varList.language_in_English}" name="language_in_English"></f:param>
											<i class="fa fa-edit"></i>
					                    	<h:outputText value=" Edit"></h:outputText>
									     </h:commandLink>
									</h:column> -->
								</h:dataTable>
			                    <h:inputHidden id="languageIdHidden" value="#{adnLanguages.hiddenId}" rendered="false"></h:inputHidden>
			              </div>
			           </div>
			         </h:panelGroup>
                </div><!-- /.col -->
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </section>
    </h:form>
        <!-- Main content -->
      </div><!-- /.content-wrapper -->
	
    </div><!-- ./wrapper -->

    
  </h:body>
</html>